#clock-container {
  height: 50vh;
  background-color: salmon;
  text-align: center;
  color: white;
  font-size: 60px;
}

#clock {
  margin-top: 21vh;
}

#alarm-container {
  height: 50vh;
}

#alarm {
  display: none;
  font-size: 7em;
  text-align: center;
  margin-top: 21vh;
  font-weight: 600;
}
